# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
/* 
*.*
!Makefile
!Makefile.am
!configure
!configure.ac
!.gitignore
!ChangeLog
!README.md
!usb_device_linux.cpp
!usb_device_linux.hpp
!usb_device_handle_linux.cpp
!usb_device_handle_linux.hpp
