# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#
/* 
*.*
*/bin/*
!README.md
!usb_device_linux.cpp
!usb_device_linux.hpp
!usb_device_handle_linux.cpp
!usb_device_handle_linux.hpp
!demo_hrm.cpp
!demo_antfs.*
!project/*.cbp
!project/*.depend
