# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.deps
*.log
src/aclocal.m4
src/AUTHORS
src/autom4te.cache
src/ChangeLog
src/config.h.in~
src/COPYING
src/depcomp
src/INSTALL
src/install-sh
src/missing
src/NEWS
src/README
src/project
src/config.log
src/config.status
src/stamp-h1

demo_antfs
demo_hrm
